<div class="container">
    <div class="footer-inner">
        <!-- Footer subscribe -->
        <div class="footer-sub">
            <h2 class="footer-sub__heading section-heading">
                Subscribe Newsletters
            </h2>
            <p class="footer-sub__desc">
                Enter your email address to register to our newsletter
            </p>
            <form action="" class="footer-sub-form">
                <input
                    type="email"
                    name="email"
                    id="email"
                    class="footer-sub-form__input"
                    placeholder="Your email"
                />
                <button class="footer-sub-form__btn btn">Sign up</button>
            </form>
            <img
                src="./assets/icons/sub-icon1.svg"
                alt=""
                class="footer-sub__icon footer-sub__icon--left"
            />
            <img
                src="./assets/icons/sub-icon2.svg"
                alt=""
                class="footer-sub__icon footer-sub__icon--right"
            />
        </div>
        <!-- Footer bottom -->
        <div class="footer-bot">
            <div class="footer-left">
                <!-- Logo -->
                <a href="/" class="logo">
                    <img src="./assets/img/logo.png" alt="" class="logo__img" />
                    <h2 class="logo__text">Eduka.</h2>
                </a>
                <p class="footer-left__desc">
                    Join our newsletter to stay up to date on features and
                    releases.
                </p>
                <form action="" class="footer-form">
                    <input
                        type="email"
                        name="email"
                        id="email"
                        placeholder="Enter your email"
                        class="footer-form__input"
                    />
                    <button class="footer-form__btn btn">Subscribe</button>
                </form>
            </div>
            <div class="footer-wrap">
                <!-- Footer list 1 -->
                <ul class="footer-wrap__list">
                    Pages
                    <li class="footer-wrap__item">
                        <a href="#!" class="footer-wrap__link">Home</a>
                    </li>
                    <li class="footer-wrap__item">
                        <a href="#!" class="footer-wrap__link">About</a>
                    </li>
                    <li class="footer-wrap__item">
                        <a href="#!" class="footer-wrap__link">Contact</a>
                    </li>
                    <li class="footer-wrap__item">
                        <a href="#!" class="footer-wrap__link">Blog</a>
                    </li>
                    <li class="footer-wrap__item">
                        <a href="#!" class="footer-wrap__link">Courses</a>
                    </li>
                </ul>
                <!-- Footer list 2 -->
                <ul class="footer-wrap__list">
                    CMS Pages
                    <li class="footer-wrap__item">
                        <a href="#!" class="footer-wrap__link">Blog Post</a>
                    </li>
                    <li class="footer-wrap__item">
                        <a href="#!" class="footer-wrap__link"
                            >Blog Categories</a
                        >
                    </li>
                    <li class="footer-wrap__item">
                        <a href="#!" class="footer-wrap__link"
                            >Courses Single</a
                        >
                    </li>
                    <li class="footer-wrap__item">
                        <a href="#!" class="footer-wrap__link"
                            >Courses categories</a
                        >
                    </li>
                    <li class="footer-wrap__item">
                        <a href="#!" class="footer-wrap__link">Product Page</a>
                    </li>
                    <li class="footer-wrap__item">
                        <a href="#!" class="footer-wrap__link">
                            Product Categories
                        </a>
                    </li>
                </ul>
                <!-- Footer list 3 -->
                <ul class="footer-wrap__list">
                    Account Pages
                    <li class="footer-wrap__item">
                        <a href="#!" class="footer-wrap__link">Login</a>
                    </li>
                    <li class="footer-wrap__item">
                        <a href="#!" class="footer-wrap__link">Sign up</a>
                    </li>
                    <li class="footer-wrap__item">
                        <a href="#!" class="footer-wrap__link"
                            >Forget Password</a
                        >
                    </li>
                    <li class="footer-wrap__item">
                        <a href="#!" class="footer-wrap__link"
                            >Email Confirmation</a
                        >
                    </li>
                </ul>
                <!-- Footer list 4 -->
                <ul class="footer-wrap__list">
                    Utility Pages
                    <li class="footer-wrap__item">
                        <a href="#!" class="footer-wrap__link">Licenses</a>
                    </li>
                    <li class="footer-wrap__item">
                        <a href="#!" class="footer-wrap__link">404</a>
                    </li>
                    <li class="footer-wrap__item">
                        <a href="#!" class="footer-wrap__link">Password</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer-separate"></div>
    </div>
</div>
