<!-- PC Header -->
<div class="container">
    <div class="header-inner">
        <!-- Navbar -->
        <nav class="navbar">
            <div class="navbar-left">
                <!-- Tablet/Mobile menu -->
                <label for="menu-checkbox" class="toggle-menu">
                    <img
                        class="toggle-menu__icon"
                        src="./assets/icons/bars.svg"
                        alt=""
                    />
                </label>

                <!-- Logo -->
                <a href="/" class="logo logo-header">
                    <img src="./assets/img/logo.png" alt="" class="logo__img" />
                    <h2 class="logo__text">Eduka.</h2>
                </a>

                <ul class="navbar__list">
                    <li class="navbar__item">
                        <a href="#home" class="navbar__link">Home</a>
                    </li>
                    <li class="navbar__item">
                        <a href="#about" class="navbar__link">About</a>
                    </li>
                    <li class="navbar__item">
                        <a href="#courses" class="navbar__link">Courses</a>
                    </li>
                    <li class="navbar__item">
                        <a href="#blog" class="navbar__link">Blog</a>
                    </li>
                    <li class="navbar__item">
                        <a href="#contact" class="navbar__link"> Contact </a>
                    </li>
                </ul>
            </div>
            <!-- Action -->
            <div class="navbar-action">
                <a href="#!" class="navbar-action__link">Sign In</a>
                <a href="#!" class="btn">Sign Up</a>
            </div>
        </nav>
    </div>
</div>

<!-- Tablet/Mobile header -->
<header class="mobile-header">
    <input
        class="menu-checkbox"
        type="checkbox"
        name=""
        id="menu-checkbox"
        hidden
    />
    <!-- Overlay -->
    <label for="menu-checkbox" class="menu-overlay"></label>
    <!-- Menu drawer -->
    <div class="menu-drawer">
        <!-- Logo -->
        <a href="/" class="menu-drawer__logo">
            <img src="./assets/img/logo.png" alt="" class="logo__img" />
            <h2 class="logo__text">Eduka.</h2>
        </a>

        <ul class="navbar-mobile__list">
            <li class="navbar-mobile__item">
                <a href="#home" class="navbar-mobile__link">Home</a>
            </li>
            <li class="navbar-mobile__item">
                <a href="#about" class="navbar-mobile__link">About</a>
            </li>
            <li class="navbar-mobile__item">
                <a href="#courses" class="navbar-mobile__link"> Courses </a>
            </li>
            <li class="navbar-mobile__item">
                <a href="#blog" class="navbar-mobile__link">Blog</a>
            </li>
            <li class="navbar-mobile__item">
                <a href="#contact" class="navbar-mobile__link">Contact</a>
            </li>
            <li class="navbar-mobile__item hide-on-tablet separate">
                <a href="#!" class="navbar-mobile__link"> Sign In </a>
            </li>
            <li class="navbar-mobile__item hide-on-tablet">
                <a href="#!" class="navbar-mobile__link"> Sign Up </a>
            </li>
        </ul>
    </div>
</header>
