<div class="container">
    <div class="header-inner">
        <!-- Logo -->
        <a href="/" class="logo">
            <img src="./assets/img/logo.png" alt="" class="logo__img" />
            <h2 class="logo__text">Eduka.</h2>
        </a>

        <!-- Navbar -->
        <nav class="header-navbar">
            <ul class="header-navbar__list">
                <li>
                    <a href="#!" class="header-navbar__link">Home</a>
                </li>
                <li>
                    <a href="#!" class="header-navbar__link">About</a>
                </li>
                <li>
                    <a href="#!" class="header-navbar__link">Courses</a>
                </li>
                <li>
                    <a href="#!" class="header-navbar__link">Blog</a>
                </li>
                <li>
                    <a href="#!" class="header-navbar__link">Contact</a>
                </li>
            </ul>
        </nav>

        <!-- Action -->
        <div class="header-action">
            <a href="#!" class="header-action__link">Sign In</a>
            <a href="#!" class="btn">Sign Up</a>
        </div>
    </div>
</div>
